.all-items{
    margin-top: 30px;
}
.all-items h1{
    font-size: 34px;
    color: white;
}
.item{
    display: flex;
    margin-top: 34px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 20px;
    height: 200px;
    box-shadow: 7px 11px 21px 0px rgba(50, 50, 50, 0.75);
}

.item:last-child{
    margin-bottom: 34px;
}

.item .img-content{
    min-width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img{
    max-width: 200px;
    max-height: 200px;
}

.info-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}

.info-item div .price{
    font-size: 20px;
    text-align: center;
}

.info-item div .buy{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    font-size: 19px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    padding: 4px 20px;
}

.info-item div .buy:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.imgWillChoose{
    background-color: black;
    opacity: 0.7;
    margin: 0 10px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.imgIsChoosing{
    opacity: 1;
}

.result_is_nothing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.result_is_nothing{
    color: white;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}

.sort p{
    color: white;
}

.sort p span{
    border-bottom: 2px white dotted;
    cursor: pointer;
    margin-left: 5px;
}
.sort-block{
    padding: 10px 0;
    z-index: 2;
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-left: 110px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 7px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 7px 16px 0px rgba(50, 50, 50, 0.75);
}
.sort-block ul{
    color: rgb(0, 0, 0);
    list-style: none;
}
.sort-block  ul li{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 5px;
}
.sort-block ul li.actives:hover{
    background-color: black;
}
.sort-block ul li:hover{
    background-color: rgb(151, 151, 151);
    color: rgb(255, 255, 255);
}

.flex-sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display_block_item{
    display: block;
}
.popularItems{
    margin-top: 10px;
    display: flex;
}
.popularItems img{
    width: 20px;
    margin-right: 5px;
}
.compare{
    max-width: 120px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}
.compare .checkbox{
    width: 15px;
    height: 15px;
    background: transparent;
    cursor: pointer;
    border: 2px black solid;
    margin-right: 5px;
    border-radius: 5px;
}
.compare .active{
    background: black;
}